<br/>

<md-card *ngFor="let blog of blogs;">
    <md-card-title-group>
        <img class="blogImage" *ngIf="blog.imageUrl != null" md-card-md-image [src]="blog.imageUrl">

        <md-card-title>{{blog.name}}</md-card-title>
        <md-card-subtitle>
            <div *ngIf="blog.followers != null">Followers: {{blog.followers}}</div>
            <div *ngIf="blog.authors != null">Authors: {{blog.authors}}</div>
            <div *ngIf="blog.dateAdded != null">Date added: {{blog.dateAdded | date:'short'}}</div>
            <div *ngIf="blog.createdBy != null">Added by: {{blog.createdBy}}</div>
        </md-card-subtitle>
    </md-card-title-group>
    <md-card-actions>
        <button md-raised-button color="primary" (click)="follow(blog)" *ngIf="loginService.user != null && blog.userBlog == null">
                    <md-icon class="md-24">visibility</md-icon> follow
                </button>
        <button md-raised-button color="primary" (click)="unfollow(blog)" *ngIf="loginService.user != null && blog.userBlog != null">
                    <md-icon class="md-24">visibility_off</md-icon> unfollow
                </button>
        <button md-raised-button color="primary" (click)="editBlog(blog)" md-tooltip="Edit this blog">
                    <md-icon class="md-24">mode_edit</md-icon> edit
                </button>
    </md-card-actions>
</md-card>