<p-growl [value]="_GrowlService.messages" life="5000"></p-growl>

<div fx-layout='column' class="zero">
  <div fx-flex="22" fx-flex.md="10px" fx-hide.lg class="two_one">vvvvv</div>
  <div fx-flex="205" fx-flex.md="65" class="two_two">bbbb</div>
  <div fx-flex="30px" fx-flex.md="25" fx-show fx-hide.md class="two_three">nnnn</div>
</div>





<main [ngClass]="{'menu-collapsed': isMenuCollapsed}" baThemeRun>
  <div class="additional-bg"></div>
  <app-login></app-login>
  <div> {{ user?.displayName }} </div>
  <img style="height: 70px;" [src]="user?.photoUrl" [hidden]="user == null">
  <button (click)="logout()">Logout</button>
  <app-tab-menu></app-tab-menu>
  <router-outlet></router-outlet>
</main>